<?xml version="1.0"?>
<ruleset name="Coding Standard for REST API Strict Origin plugin">
	<description>Coding Standard for REST API Strict Origin plugin</description>

	<file>.</file>

	<rule ref="Required"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="rest-api-same-origin" />
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array" value="Required\RestApiStrictOrigin"/>
		</properties>
	</rule>
</ruleset>
